body {
  background-image: url('/fondo.png');
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Hace que la imagen de fondo sea fija */
  opacity: 0.7;
}

.container-partidos{
  display: flex;
}

.partidos{
  background-color: antiquewhite;
height: 50vh;
height: 10vh;
}